@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Converting #1E293B (text.DEFAULT) to RGB */
  --foreground-rgb: 30, 41, 59;
  /* Converting #FFFFFF (background.light) to RGB */
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Converting #94A3B8 (text.light) to RGB */
    --foreground-rgb: 148, 163, 184;
    /* Converting #0F172A (background.dark) to RGB */
    --background-start-rgb: 15, 23, 42;
    --background-end-rgb: 15, 23, 42;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}